body {
  font-family:arial;
  padding:0px;
  border:0px;
  margin:0px;
  margin-left:5px;
  color:white;
    background:url("mewtwo.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:left top;
}

#content /*Each item can only have one id.*/{
margin-top:10px;
width:800px;
}

#cardText {
  width:550px;
  height:64px;
  font-family:arial;
  font-size:18px;
}

#pokemonText {
    width:550px;
    height:21px;
    font-family:arial;
    font-size:18px;
}
#pokemon1Text {
    width:550px;
    height:21px;
    font-family:arial;
    font-size:18px;
}
#pokemon2Text{
    width:550px;
    height:21px;
    font-family:arial;
    font-size:18px;
}

p {
  margin:10px;
}

.inline {
  display:inline;
}

.btn {
  background: #b1d1e6;
  background-image: -webkit-linear-gradient(top, #b1d1e6, #2d373d);
  background-image: -moz-linear-gradient(top, #b1d1e6, #2d373d);
  background-image: -ms-linear-gradient(top, #b1d1e6, #2d373d);
  background-image: -o-linear-gradient(top, #b1d1e6, #2d373d);
  background-image: linear-gradient(to bottom, #b1d1e6, #2d373d);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  margin: 0px 5px 0px 5px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}